@media (max-width: 1130px) {
    .hero-details p {
        padding: 0 120px;
    }
    .feature-row{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0 15px 0 15px;
    }
    .architect-experience {   
        padding: 25px 25px;  
        top: 895px;
        left: -20px;
    }
    .architect-experience h1{
        font-size: 45px;
    }
}

@media (max-width: 930px) {
    .navmenus {
        display: none;
    }

    .btns i {
        display: block;
        visibility: visible;
    }

    .photo-row {
        display: flex;
        flex-wrap: wrap;
    }

    .photo-title h2 {
        text-align: center;
    }

    .photo-details p {
        text-align: center;
        padding: 0 80px;
    }

    .photo-btn {
        text-align: center;
    }
    .facts-row{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 850px) {
    .hero-title h1 {
        font-size: 45px;
    }

}


@media (max-width: 730px) {
    .phto-left{
        padding: 0 20px;
    }
}


@media (max-width: 630px) {
        .hero-details p {
            padding: 0 50px;
        }
        .phto-left{
            display: flex;
            flex-wrap: wrap;
            align-self: center;
            justify-content: center;
        }
        .architect img{
            width: 100%;
        }
        .feature-info p{
            width: 550px;
        }
        .feature-section {
            padding-right:30px;
        }
        .architect-experience {   
            padding: 25px 25px;  
            top: 600px;
            left: 20px;
        }

    }

    @media (max-width: 530px){
        .photo-details p {
            padding: 0 50px;
        }
        .architect-experience {   
            padding: 25px 25px;  
            top: 528px;
            left: 0;
        }
        .feature-box{ 
            width: 500px;
        }
        .feature-box .box-info{ 
            width: 100%; 
        }
        .feature-section {
            padding-right:30px;
        }
        .fact-info p{
            width: 100%;
        }
        .facts-content{
            padding: 0 20px;
        }
    }

    @media (max-width: 468px) {
        .hero-details p {
            padding: 0 20px;
        }

        .hero-title h1 {
            font-size: 30px;
        }
        .photo-title h2 {
            font-size: 30px;
        }
        .feature-info p{
            width: 450px;
        }
        .feature-box {
            width: 450px;
            padding: 20px 20px;
            display: inline-block;
        }
        .architect-experience {   
            padding: 20px 20px;  
            top: 450px;
            left: 15px;
        }
        .architect-experience h1{
            font-size: 35px;
        }
        .f-title h2{
            font-size: 35px;
        }
        .feature-section {
            padding-right:30px;
        }
    }

 

@media (max-width: 430px) {
    .logo a h2 {
        font-size: 35px;
    }
    .photo-details p {
        padding: 0 30px;
        text-align: justify;
    }
    .architect-experience {   
        padding: 20px 20px;  
        top: 350px;
        left: 15px;
    }
}

@media (max-width: 375px){
    .architect-experience {   
        padding: 20px 20px;  
        top: 280px;
        left: 15px;
    }
    .fact-info p{
        font-size: 16px;
    }
    .fact-title h2{
        font-size: 30px;
    }
}